<form novalidate name="recoverform" ng-submit="recoverform.$valid && recover(user)">
	<div class="form-group">
		<div class="form-control">
			<label class="label">Please provide your e-mail</label>
			<div class="form-element">
				<input type="email" name="email" ng-model="user.email" class="input" required/>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<a href="/login" class="btn btn-secondary">Back</a>
			</div>
			<div class="col-6 t-right">
				<input type="submit" value="Continue" class="btn btn-primary" />
			</div>
		</div>
	</div>
</form>