include ../layout/header.jade
include ../layout/menu.jade

section
	.row
		.col-sm-12(ng-controller="mapCtrl")
			ui-gmap-google-map(center="map.center",zoom="map.zoom",styles="map.styles",options="map.options")
				ui-gmap-marker(idKey="activity.mapData.idKey",click="activity.mapData.click",coords="activity.mapData.coords",options="activity.mapData.options",ng-repeat="activity in activities")
				ui-gmap-polyline(ng-repeat="p in polylines",path="p.path",stroke="p.stroke",visible="p.visible",geodesic="p.geodesic",fit="false",editable="p.editable",draggable="p.draggable")


section.padding.black-bg
	.wrap
		.row.gutter-large.flex.flex-center
			.col-6
				h1 The journey starts in Stockholm!
				| Lorem ipsum Dolor sint magna laborum dolor ut sed nostrud sit dolore nisi irure pariatur sint dolore eiusmod magna ex commodo mollit incididunt commodo id sunt elit aliqua nulla ut labore commodo Ut id est Ut ea sunt consequat reprehenderit in in anim eiusmod voluptate tempor cillum nisi labore laborum do ea in pariatur id anim deserunt ea irure aute dolor qui magna sint fugiat ea mollit irure dolor officia sed sed Ut nisi dolor anim nisi aliquip aliqua dolor amet aliquip pariatur cillum qui velit non non in nulla amet voluptate commodo do aute ut Duis deserunt in nisi consequat nulla reprehenderit pariatur ea est occaecat aute.
			.col-6
				img(src="https://placeimg.com/640/480/arch")
section.padding.green-bg
	.wrap
		.row.gutter-large.flex.flex-center
			.col-sm-2
			.col-8
				h1.t-center Flight-mode on!
				| Lorem ipsum Dolor sint magna laborum dolor ut sed nostrud sit dolore nisi irure pariatur sint dolore eiusmod magna ex commodo mollit incididunt commodo id sunt elit aliqua nulla ut labore commodo Ut id est Ut ea sunt consequat reprehenderit in in anim eiusmod voluptate tempor cillum nisi labore laborum do ea in pariatur id anim deserunt ea irure aute dolor qui magna sint fugiat ea mollit irure dolor officia sed sed Ut nisi dolor anim nisi aliquip aliqua dolor amet aliquip pariatur cillum qui velit non non in nulla amet voluptate commodo do aute ut Duis deserunt in nisi consequat nulla reprehenderit pariatur ea est occaecat aute.
			.col-sm-2
section.padding.white-bg
	.wrap
		.row.gutter-large.flex.flex-center
			.col-6
				img(src="https://placeimg.com/640/480/arch")
			.col-6
				h1 New York - The first stop
				| Lorem ipsum Dolor sint magna laborum dolor ut sed nostrud sit dolore nisi irure pariatur sint dolore eiusmod magna ex commodo mollit incididunt commodo id sunt elit aliqua nulla ut labore commodo Ut id est Ut ea sunt consequat reprehenderit in in anim eiusmod voluptate tempor cillum nisi labore laborum do ea in pariatur.
				h2 Companies to visit
				ul
					li GoPro
					li Google
					li Facebook
section.padding
	.wrap
		.row.gutter-large.flex.flex-center
			.col-6
				h1 What is up, Boston?
				| Lorem ipsum Dolor sint magna laborum dolor ut sed nostrud sit dolore nisi irure pariatur sint dolore eiusmod magna ex commodo mollit incididunt commodo id sunt elit aliqua nulla ut labore commodo Ut id est Ut ea sunt consequat reprehenderit in in anim eiusmod voluptate tempor cillum nisi labore laborum do ea in pariatur id anim deserunt ea irure aute dolor qui magna sint fugiat ea mollit irure dolor officia sed sed Ut nisi dolor anim nisi aliquip aliqua dolor amet aliquip pariatur cillum qui velit non non in nulla amet voluptate commodo do aute ut Duis deserunt in nisi consequat nulla reprehenderit pariatur ea est occaecat aute.
			.col-6
				img(src="https://placeimg.com/640/480/arch")
section.padding.white-bg
	.wrap
		.row.gutter-large.flex.flex-center
			.col-6
				img(src="https://placeimg.com/640/480/arch")
			.col-6
				h1 Seattle, what you got?
				| Lorem ipsum Dolor sint magna laborum dolor ut sed nostrud sit dolore nisi irure pariatur sint dolore eiusmod magna ex commodo mollit incididunt commodo id sunt elit aliqua nulla ut labore commodo Ut id est Ut ea sunt consequat reprehenderit in in anim eiusmod voluptate tempor cillum nisi labore laborum do ea in pariatur.
				h2 Companies to visit
				ul
					li GoPro
					li Google
					li Facebook
section.padding
	.wrap
		.row.gutter-large.flex.flex-center
			.col-6
				h1 San Fransisco, are you ready?
				| Lorem ipsum Dolor sint magna laborum dolor ut sed nostrud sit dolore nisi irure pariatur sint dolore eiusmod magna ex commodo mollit incididunt commodo id sunt elit aliqua nulla ut labore commodo Ut id est Ut ea sunt consequat reprehenderit in in anim eiusmod voluptate tempor cillum nisi labore laborum do ea in pariatur id anim deserunt ea irure aute dolor qui magna sint fugiat ea mollit irure dolor officia sed sed Ut nisi dolor anim nisi aliquip aliqua dolor amet aliquip pariatur cillum qui velit non non in nulla amet voluptate commodo do aute ut Duis deserunt in nisi consequat nulla reprehenderit pariatur ea est occaecat aute.
			.col-6
				img(src="https://placeimg.com/640/480/arch")

include ../layout/footer.jade
include ../layout/includes.jade