include ../layout/header.jade
include ../layout/menu.jade

section
	.row
		.col-sm-12(ng-controller="mapCtrl")
			{{ path }}
			ui-gmap-google-map(center="map.center",zoom="map.zoom",styles="map.styles",options="map.options")
				ui-gmap-marker(idKey="activity.mapData.idKey",click="activity.mapData.click",coords="activity.mapData.coords",options="activity.mapData.options",ng-repeat="activity in activities")

				ui-gmap-polyline(ng-repeat="p in polylines",path="p.path",stroke="p.stroke",visible="p.visible",geodesic="p.geodesic",fit="false",editable="p.editable",draggable="p.draggable")


section.padding
	.wrap
		.row.gutter-large
			.col-sm-2
			.col-8
				ng-view
			.col-sm-2

include ../layout/footer.jade
