include layout/header.jade

include layout/menu.jade

section#hero
	.row.gutter-base
		.col-lg-3.col-sm-2
		.col-lg-6.col-sm-8
			h1.t-center
				| We dig 
				span.text-green challenges
				|  and 
				span.text-green adventures
		.col-lg-3.col-sm-2
		.clearfix
		.col-lg-3.col-sm-2
		.col-lg-6.col-sm-8
			| Welcome to the new Studs website! As a new year equals new opportunities, we are looking forward to meeting great companies, making new contacts and going on the field trip. Find out more about us below or visit the About section.
		.col-lg-3.col-sm-2
section.green-bg.mega-padding
	.wrap
		.row.gutter-large
			.col-12.t-center
				h1 Be part of a great experience!
			.col-sm-6
				| Studs is an annual project run by students at KTH. The purpose of the project is to let students plan, execute, and evaluate a project at large scale. This year, we are 28, soon to graduate, computer science students, meeting with companies in the technology sector throughout the spring. The goal of the project is to get an understanding of the work market we are soon to enter and as a result, allowing the companies to address the recruitment process more efficiently.
			.col-sm-6
				| Through the power of technology, the world is connected in many more ways. As a result of this, a career nowadays is very much different compared to the past as it now involves international markets on a regular basis.

				| Understanding other cultures is vital to an engineer working in international projects and therefore, the project is concluded with a field trip. This year, Studs will be travelling to the USA to get a better understanding of the American culture and to get an idea of what it would be like to work abroad.
//section.black-bg.mega-padding
	.wrap
		.row.gutter-large.t-center
			.col-12
				h1 Do like our friends at these companies - join studs!
			.col-md-3.col-sm-6
				img(src='img/google.svg', alt='')
			.col-md-3.col-sm-6
				img(src='img/visma.svg', alt='')
			.col-md-3.col-sm-6
				img(src='img/google.svg', alt='')
			.col-md-3.col-sm-6
				img(src='img/visma.svg', alt='')
section.mega-padding.white-pure-bg
	.wrap
		.row.gutter-large
			.col-md-4
				h2 We are interested in you
				p Ask a first year Computer Science student where they want to work after they have graduated. The question is daunting and hard to answer. What interests you when you start studying at KTH might be completely different from what you want to work with when you are close to finishing your studies.
			.col-md-4
				h2 We are motivated to work
				p At KTH, students spend five years to gain as much knowledge as possible. It is truly an opportunity and we are grateful for it. Five years, however, is a long time to spent in the classroom. Studs is a project consisting of 28 students who are close to graduating.
			.col-md-4
				h2 We are assets
				p The Studs project is a great representation of the future Computer Science workforce. With a great diversity, both in specializations and gender, Studs can provide your company with exactly what you need. We all have a BSc in Computer Science, 57 % has chosen a Computer Science path for their MSc, 29 % are driven by their interest in Human-Computer Interaction, and 14 % are pursuing their interest in Industrial Economy.


//section.red-light-bg.mega-padding
	.wrap
		.row.gutter-large(ng-controller="indexInstagram")
			.col-12.t-center
				h2 Instagram
				.col-4(ng-repeat='p in pics | orderBy:orderBy')
					a(href="{{ p.link }}" target"_blank")
						img(ng-src="{{ p.images.low_resolution.url }}" title="{{ p.caption.text }}")

section.mega-padding
	.wrap
		.row.gutter-large
			.col-sm-3
			.col-sm-6
				h3.t-center I like it, how do I get my company involved?
				p Simple! Send an email to our 
						a(href="mailto:studs-sales@d.kth.se") sales manager Brian Ye 
						| or to our 
						a(href="mailto:studs-ansvarig@d.kth.se") project leaders Axel Samuelsson and Katja Röös. 
						| Provide your company information and we will contact you as fast as we can. We are sure that you won't be disappointed!
				
			.col-sm-3

include layout/footer.jade
include layout/includes.jade
