// TODO: 
// some rewrites. and use what is the same for dropdown and input etc.
// change "dropdown" to "select"
// make it easy to do different themes, light, ect
// different sizes?

// ===== Variables =====
@input-border-radius: @border-radius-base;
@checkbox-radio-height: 23px;
@dropdown-arrow-size: 8px;
@icon-holder-z-index: 10;
@dropdown-list-z-index: 10000;

.meta {
	color: @gray;
	font-size: 0.75em;
}
.help {
	.meta;
	display: block;
	text-align: inherit;
	position: absolute;
	width: 100%;
}


// ===== Common style =====
.common-focus-style {
	.transition(border 0.5s ease);
	border: solid 1px @green;
}
.common-input-style {
	.element-size-fix;
	.box-sizing(border-box);
	.border-radius(@input-border-radius);
	border: solid 1px transparent;
	color: @black;
	padding: (@spacing-minimum - 1);
	width: 100%;

	&:focus {
		.common-focus-style;
	}


	&.ng-dirty.ng-invalid, &.ng-touched.ng-invalid {
		border-color: @red !important;
	}
}

form.ng-submitted {
	.ng-invalid {
		border-color: @red !important;
	}
}

// ===== Description here =====
.form-group {

	&:nth-child(1) {
		margin-top: @spacing-base;
	}

	.label {
		color: @black;
		font-weight: bold;
		.ellipsis;
	}

	.label + .form-element {
		margin-top: @spacing-minimum/2;
	}

	.form-control + .form-control, .form-control + .row, .row + .form-control, & .row + .row {
		margin-top: @spacing-base;
	}
}

.form-group + .form-group, .row + .form-group, .form-group + .row {
	margin-top: @spacing-large;
}

// ===== Description here =====
.form-control {
	position: relative;
	width: 100%;

	.hint {
		color: @gray-light;
		font-size: @font-size-small;
		line-height: 1em;
		margin-top: @spacing-minimum;
	}
}

// ===== Description here =====
.form-element {
	position: relative;
	display: flex;
	width: 100%;

	.addon {
		.flex-fixed;

		&:first-child {
			.border-radius-right(0);
		}

		&:last-child {
			.border-radius-left(0);
		}

		&.icon-holder {
			pointer-events: none;
			position: absolute;
			z-index: @icon-holder-z-index;

			&:first-child {
				top: 50%;
				margin-top: -0.85em !important;
				left: @spacing-minimum*1.5;
			}

			&:last-child {
				top: 50%;
				margin-top: -0.85em !important;
				left: auto;
				right: @spacing-minimum*1.5;
			}

			.icon {
				&.svg {
					fill: @white;
				}
			}
		}
	}

	.input, .dropdown, .textarea {
		.common-input-style;

		&:focus {
			.common-focus-style;
		}
	}

	.dropdown {
		.ellipsis;
		padding-right: @spacing-medium;
	}

	.textarea {
		min-width: 100%;
		min-height: 100px;
	}

	.expandable {
		overflow: hidden;
		resize: none;
		min-height: 100px;
		max-height: 200px;
	}

	&.button-addon-left {
		.input, .dropdown {
			.border-radius-left(0);
			border-left: none;
		}
	}

	&.button-addon-right {
		.input, .dropdown {
			.border-radius-right(0);
			border-right: none;
		}
	}

	&.icon-addon-left {
		.input, .dropdown {
			padding-left: @spacing-medium;
		}
	}

	&.icon-addon-right {
		.input, .dropdown {
			padding-right: @spacing-medium;
		}
	}
}

div.textarea-shadow {
	.common-input-style;
	white-space: pre;
	word-wrap:break-word;
	word-break: break-all;
	.hide;
}

// All labels for input elements should be clickable
label[for] {
	cursor: pointer;
}

// Hide the standard HTML elements
input[type=checkbox], input[type=radio], select {
	.hide-below;
}

.radio, .checkbox {
	.element-size-fix;
	.border-radius(@input-border-radius);
	display: inline-block !important;
	position: relative;
	height: @checkbox-radio-height;
	width: @checkbox-radio-height;
	margin-right: @spacing-minimum;
	cursor: pointer;
	border: solid 1px @gray-light;
	background: @gray-dark;

	&.checked {
		background: @green;
		border: none;

		&:before {
			.border-radius(@checkbox-radio-height);
			content: "\2714";
			position: absolute;
			width: @checkbox-radio-height/2;
			height: @checkbox-radio-height/2;
			top: 50%;
			left: 50%;
			margin-top: -@checkbox-radio-height/2;
			margin-left: -@checkbox-radio-height/4;
			font-size: 14px;
			color: white;
		}
	}

	&.disabled {
		background: @gray-light !important;
		border: none !important;
	}

	&.focused {
		.common-focus-style;
	}

}

// Radiobutton style
.radio {
	.border-radius(@checkbox-radio-height);
	position: relative;

	&.checked {
		background: @green;
		border: none;

		&:before {
			.border-radius(@checkbox-radio-height);
			content: "";
			background: white;
			border: solid 6px @green;
			width: @checkbox-radio-height;
			height: @checkbox-radio-height;
			top: @checkbox-radio-height/2;
			left: @checkbox-radio-height/4;
		}
	}
}

// Style for the toggle/slide checkbox/radio button
.slide {
	.element-size-fix;
	.transition(all 0.2s ease);
	.border-radius(@checkbox-radio-height);
	display: inline-block !important;
	height: @checkbox-radio-height;
	width: @checkbox-radio-height*2;
	background: @gray-dark;
	border: solid 1px @gray-light;
	overflow: hidden;
	position: relative;
	margin-right: @spacing-minimum;
	cursor: pointer;

	&:before {
		.border-radius(@checkbox-radio-height);
		.transition(all 0.2s ease);
		content: "";
		height: @checkbox-radio-height;
		width: @checkbox-radio-height;
		border: solid 2px @gray-dark;
		background: @white-dark;
		position: absolute;
		top: 50%;
		margin-top: -@checkbox-radio-height/2;
		left: 50%;
		margin-left: -@checkbox-radio-height;
	}

	&:hover {
		&:before {
			background: white;
		}
	}

	&.disabled {
		background: @gray-light !important;
		&:before {
			border: solid 2px @gray-light !important;
			background: @white-dark !important;
		}
	}

	&.focused {
		.common-focus-style;
	}

	&.checked {
		background: @green;
		border: none;

		&:before {
			background: white;
			margin-left: 0;
			border: solid 2px @green;
		}
	}
}


// ===== Select/Dropdown =====
button.dropdown {
	.element-size-fix;
	.box-sizing(border-box);
	.border-radius(@input-border-radius);
	cursor: pointer;
	background: @gray-dark;
	color: @white;
	padding: @spacing-minimum;
	width: 100%;
	text-align: left;
	position: relative;

	.input-group-addon {
		.border-radius(@input-border-radius);
		position: absolute;
		padding: @spacing-minimum;
		padding-right: @spacing-minimum * 1.5;
		right: 0;
		top: 0;

		.icon {
			height: 1em;
			width: 1em;
			&.svg {
				fill: @white;
			}
		}
	}

	&:before {
		content: "";
		position: absolute;
		width: @dropdown-arrow-size;
		height: @dropdown-arrow-size;
		margin-top: -1*@dropdown-arrow-size/2; 
		top: 50%;
		right: @spacing-minimum*1.5;
		border-style: solid;
		border-width: @dropdown-arrow-size @dropdown-arrow-size/1.5 0 @dropdown-arrow-size/1.5;
		border-color: @white transparent transparent transparent;
	}

	&.open:before {
		border-width: 0 @dropdown-arrow-size/1.5 @dropdown-arrow-size @dropdown-arrow-size/1.5;
		border-color: transparent transparent @white transparent;
	}
}

.dropdown-list {
	.border-radius(@input-border-radius);
	.hide-away;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
	background: white;
	width: 100%;
	cursor: pointer;
	padding: @spacing-minimum/2 0;
	z-index: @dropdown-list-z-index;

	li {
		padding: @spacing-minimum @spacing-minimum*1.5;
		color: @black;

		&.selected {
			background: @green;
			color: white;
		}

		&:hover {
			background: @white-dark;
			color: white;
		}
	}

	&.placed-top {
	}
}