footer.mega-padding.black-bg
	.wrap
		.row.gutter-large
			.col-sm-4
				h3 Resources
				ul
					li 
						a(href="/",target="_self") Home
					li 
						a(href="/about",target="_self") About
					li 
						a(href="/events",target="_self") Events
					li 
						a(href="/contact",target="_self") Contact
					li 
						a(href="/login",target="_self") Login
			.col-sm-4
				h3 Instagram
			.col-sm-4
				h3 Contact us
				p Shoot us an email if you have any questions!
				p
					a(href="#") info@studieresan.se
div(flash-message="7500")