footer.mega-padding.black-bg
	.wrap
		.row.gutter-large
			.col-sm-4
				h3 Resources
				ul
					li Home
					li About
					li Events
					li The Trip
					li Contact
					li Login
			.col-sm-4
				h3 Instagram
			.col-sm-4
				h3 Contact us
				p Shoot us an email if you have any questions!
				p
					a(href="#") info@studieresan.se

script(type='text/javascript', src='/js/libs.min.js')
script(type='text/javascript', src='/js/main.min.js')
script(type="text/javascript",src="https://maps.googleapis.com/maps/api/js?sensor=false")