footer.padding.black-bg
	.wrap
		.row.gutter-large
			.col-sm-4
				h3 Resources
				ul
					li
						a(href="/",target="_self") Home
					li
						a(href="/about",target="_self") About
					li
						a(href="/events",target="_self") Events
					li
						a(href="/trip",target="_self") The Trip
					li
						a(href="/login",target="_self") Login
			.col-sm-4(ng-controller="hashtagInstagram")
				h3 Instagram
				.col-lg-4.col-sm-12(ng-repeat='p in pics | orderBy:orderBy | limitTo:3')
					a(href="{{ p.link }}" target"_blank")
						img(ng-src="{{ p.images.low_resolution.url }}" title="{{ p.caption.text }}")

			.col-sm-4
				h3 Contact us
				p Shoot us an email if you have any questions!
				p
					a(href="#") studs-ansvarig@studieresan.se
		h5.t-center Copyright &copy; 2016 #[a(href='/') studieresan.se] | Design & development by #[a(href='https://github.com/studieresan/studs2016/graphs/contributors', target='_blank', rel='nofollow') studs-it]
div(flash-message="7500")
