doctype html
html(ng-app=ngApp ? ngApp : '')
	head
		base(href='/')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title
		link(rel='stylesheet', href='/css/main.min.css')