#menu(class=fixedMenu ? 'fixed' : '')
	nav
		.left
			a#logo(href='/', target='_self')
				img(src='/img/logo.svg', alt='')
		.right
			a.brackets(href='/', target='_self') Home
			a.brackets(href='/about', target='_self') About
			a.brackets(href='/events', target='_self') Events
			a.brackets(href='/trip', target='_self') The Trip
			span |
			div.profile
				if authenticated && user
					if user.type == "Student"
						img(src="/img/profile-pictures/#{user.image}-cropped.jpg")
						a(href="/profile" target="_self") #{user.firstname}
					else
						a(href="/profile" target="_self") #{user.name}
					a(href='/logout', target='_self') Log out
				else
					a(href='/login', target='_self') Log in
#menu-shadow
