<div id="menu">
	<nav>
		<div class="left">
			<a href="/" id="logo"><img src="img/logo.svg" alt="" /></a>
		</div>
		<div class="right">
			<a href="#">What is it?</a>
			<a href="/events">Events</a>
			<a href="#">The trip</a>
			<a href="#">Who are we?</a>
			<a href="#">Contact</a>
			<span>|</span>
			<a href="#">Sign in</a>
		</div>
	</nav>
</div>
