#menu(class=fixedMenu ? 'fixed' : '')
	nav
		.left
			a#logo(href='/', target='_self')
				img(src='img/logo.svg', alt='')
		.right
			a(href='/about', target='_self') About
			a(href='/events', target='_self') Events
			a(href='/trip', target='_self') The trip
			a(href='/contact', target='_self') Contact
			span |
			if authenticated && user
				| #{user.email} 
				a(href='/logout', target='_self') Log out
			else
				a(href='/login', target='_self') Log in
#menu-shadow
