#menu(class=fixedMenu ? 'fixed' : '')
	nav
		.left
			a#logo(href='/')
				img(src='img/logo.svg', alt='')
		.right
			a(href='/') What is it?
			a(href='/events') Events
			a(href='#') The trip
			a(href='#') Who are we?
			a(href='#') Contact
			span |
			a(href='#') Sign in
#menu-shadow
