div#resume.wrap
	div#resume-header.col-12.row.gutter-large
		div.col-sm-4.image
			img(src="/img/profile-pictures/{{ user.image }}-cropped.jpg")
		div.col-sm-8
			div.contact-details
				ul
					li {{ user.email }}
					li {{ user.phone }}
					li {{ user.address }}
					li {{ user.postcode }} {{ user.city }}
			h1 {{ user.firstname }} {{ user.lastname }}
			p(ng-click="setEditDescription(true)" ng-if="!data.editDescription") {{ Resume.description }}
			div(ng-if="data.editDescription")
				div.form-control
					div.form-element
						textarea.textarea(name="description" ng-model="Resume.description")
				a.btn.btn-secondary.btn-small(ng-click="setEditDescription(false)") Done

	div.row.gutter-large.resume-group(ng-repeat=" (key, posts) in Resume.posts | groupBy: 'type'")
		h1.col-12 {{ key }}
			a.btn.btn-secondary.btn-small(ng-click="push(key)") Add
		div.col-12(ng-repeat="resumePost in posts")
			div.row.gutter-small(ng-if="data.activePost == resumePost")
				div.col-12
						div.form-control
							label.label Title
							div.form-element
								input.input(type='text' name='title' ng-model='resumePost.title' required)
					div.col-12
						div.form-control
							label.label What did you do?
							div.form-element
								textarea.input(name='description' ng-model='resumePost.description' required)
					div.col-6
						div.form-control
							label.label When did you start?
							div.form-element
								input.input(type='text' name='title' ng-model='resumePost.startdate' required)
					div.col-6
						div.form-control.col-6
							label.label When did you end?
							div.form-element
								input.input(type='text' name='type' ng-model='resumePost.enddate' required)
					div.form-control
						a.btn.btn-secondary.btn-small.left(ng-click="unsetActive()") Done
						a.btn.btn-danger.btn-small.left(ng-click="removePost(resumePost)") Remove
			div.resume-post.col-12.row(ng-if="data.activePost != resumePost" ng-click="setActive(resumePost)" ng-class="resumePost.newItem")
				div.col-sm-4
					h3 {{ resumePost.startdate | date: 'MMM, yyyy' }} - {{ resumePost.enddate | date: 'MMM, yyyy' }}
				div.col-sm-8
					h3 {{ resumePost.title }}
					p {{ resumePost.description }}
	div.row.gutter-large
		div.form-control.col-12
			div.form-element
				input.input#resume-add-type-input(type='text' name='type' ng-model='newTypeValue' placeholder="New type..." required)
				a.btn.btn-secondary(ng-click="newType(newTypeValue)") Add

		div.col-12#resume-save
			a.btn.btn-primary(ng-click="update(Resume)") Save