section.padding(ng-init="user = #{userData}")
	.wrap
		.row.gutter-large.flex.flex-center
			.col-sm-12
				h1 Superpowers
	.wrap
		div.row.gutter-large
			div.col-sm-6
				form(ng-controller="studentCtrl" novalidate name='addstudent' ng-submit='addstudent.$valid && add(newUser)')
					div.form-group.row.gutter-base
						h2.form-title Register new student
						div.form-control.col-6
							label.label E-mail
							div.form-element
								input.input(type='email' name='email' ng-model='newUser.email' required)
						div.col-sm-6
							div.form-control
								label.label Password
								div.form-element
									input.input(type='text' name='password' ng-model='newUser.password' ng-value="suggestedPassword")
					div.form-group.row.gutter-base
						div.form-control
							input.btn.btn-primary(type='submit' value='Register')
			div.col-sm-6
				form(ng-controller="studentCtrl" novalidate name='removestudent' ng-submit='removestudent.$valid && removeStudent(selectedStudent)')
					div.form-group.row.gutter-base
						h2.form-title Remove student
						div.form-control.col-12
							label.label Student
							div.form-element
								select(name="selectStudent" id="selectStudent" ng-options="student.firstname || student.email for student in allstudents" ng-model="selectedStudent")
					div.form-group.row.gutter-base
						div.form-control
							input.btn.btn-primary(type='submit' value='Remove')