include ../layout/header.jade
include ../layout/menu.jade

section.padding#profile-header
	.wrap
		.row.gutter-base.flex.flex-center
			.col-sm-4
			.col-4.t-center
				h1 #{user.name}
				h3 #{user.contact}
				span.email #{user.email}
				h3 Resumés
				a.btn.btn-primary.btn-small(href="/about#about") Browse
				a.btn.btn-primary.btn-small(href="/api/resumes/all") Download all
			.col-sm-4
div(ng-controller="chartsController" ng-init="company = #{userData}")
	section.padding.white-bg
		.wrap
			.row.gutter-base
				.col-12
					h1.t-center Event statistics
				.col-12.t-center
					h2 Before the event...
				.col-12.row.t-center.gutter-large(ng-show="!beforeDataIsSet")
					div
						h3 No data, yet...
						p If you believe there should be data here by now, contact us!
				.col-12.row.gutter-large(ng-show="beforeDataIsSet")
					.col-sm-4
						h3 .. how well do you know what the company does?
						canvas( class="chart chart-doughnut" chart-data="beforeData.knowledge.data" chart-labels="beforeData.knowledge.labels" chart-legend="true")
					.col-sm-4
						h3 ... how likely is it that you would like to write your Master's thesis/work at this company?
						canvas( class="chart chart-doughnut" chart-data="beforeData.masters.data" chart-labels="beforeData.masters.labels" chart-legend="true")
					.col-sm-4
						h3 ... what's your general impression of the company?
						canvas( class="chart chart-doughnut" chart-data="beforeData.impression.data" chart-labels="beforeData.impression.labels" chart-legend="true")
	section.padding.white-pure-bg
		.wrap
			.row.gutter-base
				.col-12.t-center
					h2 After the event...
				.col-12.row.t-center.gutter-large(ng-show="!afterDataIsSet")
					div
						h3 No data, yet...
						p If you believe there should be data here by now, contact us!
				.col-12.row.gutter-large(ng-show="afterDataIsSet")
					.col-12.row.gutter-large
						.col-sm-4
							h3 ... how well do you know what the company does?
							canvas( class="chart chart-doughnut" chart-data="afterData.knowledge.data" chart-labels="afterData.knowledge.labels" chart-legend="true")
						.col-sm-4
							h3 ... how likely is it that you would like to write your Master's thesis/work at this company?
							canvas( class="chart chart-doughnut" chart-data="afterData.masters.data" chart-labels="afterData.masters.labels" chart-legend="true")
						.col-sm-4
							h3 ... do you feel like you are qualified to work at this company?
							canvas( class="chart chart-doughnut" chart-data="afterData.qualified.data" chart-labels="afterData.qualified.labels" chart-legend="true")
					.col-12.row.gutter-large
						.col-sm-2
						.col-sm-4
							h3 ... what's your general impression of the company?
							canvas( class="chart chart-doughnut" chart-data="afterData.impression.data" chart-labels="afterData.impression.labels" chart-legend="true")
						.col-sm-4
							h3 ... is it a positive or a negative change?
							canvas( class="chart chart-doughnut" chart-data="afterData.change.data" chart-labels="afterData.change.labels" chart-legend="true")
						.col-sm-2

	section.padding.green-bg
		.wrap
			.row.gutter-base
				.col-12.row.t-center.gutter-large(ng-show="!afterDataIsSet")
					div
						h1 A cloud of nice words about you will be shown here!
						p We are waiting for the data from the members, bare with us!
				.col-12(ng-show="afterDataIsSet")
					h1.t-center This is what we thought about you!
					<jqcloud id="cloud-dynamic" words="words" steps="7" auto-resize="true" colors="colors"></jqcloud>

include ../layout/footer.jade
include ../layout/includes.jade
