@-webkit-keyframes fade-out-loading {
	0% { .opacity(1); }
	100% {
		.opacity(0);
		pointer-events: none;
	}
}
#resume-loading {
	z-index: 9999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	background: @blue;
	width: 100%;
	height: 100%;

	h1 {
		position: absolute;
		margin-top: -1em;
		top: 50%;
		width: 100%;
		text-align: center;
		color: @white;
	}

	&.loaded {
		-webkit-animation: fade-out-loading 0.5s ease-in;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-iteration-count: 1;
	}
}

#resume {

	#resume-save {
		text-align: center;
		border-top: solid 1px @gray-light;
	}

	#resume-add-type-input {
		width: auto;
	}

	#resume-header {

		h1 {
			clear: both;
		}
	}
	.contact-details {
		float: right;
		color: @gray;
		margin-bottom: @spacing-base;
	}

	.resume-group {
		h1 {
			padding-bottom: 0;
			margin-bottom: 0;
			a {
				margin-left: @spacing-minimum;
			}
		}
	}

	@-webkit-keyframes fade-out {
		0% { color: @blue }
		100% { color: inherit }
	}
	.resume-post {
		&.new {
			-webkit-animation: fade-out 1s ease-in;
			-webkit-animation-fill-mode: forwards;
			-webkit-animation-iteration-count: 1;
			color: @blue;
		}
	}

	.editable {
		.transition(all 0.1s ease);

		&:hover {
			color: @blue;
			cursor: pointer;
		}
	}
}
