div#event-list
	.event-list-item(ng-repeat='event in eventList.events')
		h3.slim 20 september
		img(src="/img/google-black.svg")
		h1 {{ event.title }}
		a(href='/events/{{ event.slug }}') Mer information