div#event-list
	#timeline
	.event-list-item(ng-repeat='event in events')
		.event-content
			h2.date 20
				span sep
			h1 {{ event.title }}
			p {{ event.location }}
			a(href='/events/{{ event.slug }}') Mer information