div#event-list
	#timeline
	.event-list-item(ng-repeat="event in events | orderBy: 'date'", ng-class="{disabled: today < event.date}")
		.event-content
			h2.date {{event.date | date : 'dd'}}
				span {{event.date | date : 'MMM'}}
			h1 {{ event.title }}
			p {{ event.location }}
			span.text-gray(ng-if="today > event.date && (event.instagram === undefined || event.instagram.length < 10)") Information kommer!
			a(ng-if="(event.instagram !== undefined && event.instagram.length > 0)", href='/events/{{ event.slug }}') Läs mer