div#single-event
	h1 {{ eventItem.title }}

	.instagramPhoto
		a(href="{{ eventItem.description }}")
			img(ng-src="{{ instagramMedia.thumbnail_url }}")
		p {{ instagramMedia.title }}
	p
		a(href='/events') Back
