div#single-event.row.gutter-large
	div.col-sm-4
		.instagramPhoto
			a(href="{{ eventItem.description }}")
				img(ng-src="{{ instagramMedia.thumbnail_url }}")
	div.col-sm-8
		h1 {{ eventItem.title }}
		| {{ instagramMedia.title }}
	p
		a(href='/events') Back
