include ../layout/header.jade
include ../layout/menu.jade

section.mega-padding.black-bg
	h1.mega
		| About
	.wrap
		.row.gutter-large
			.col-sm-2
			.col-sm-8
				h3.t-center Studs is a abbrevation. We are very kind!
			.col-sm-2

section.padding
	.wrap
		.row.gutter-large
			.col-sm-2
			.col-8
				h1.t-center Studs = Studieresan
				p Lorem ipsum Et consequat id consequat consectetur dolore ea pariatur esse est est in occaecat irure sunt non sunt dolor dolore reprehenderit et in elit non consequat non culpa aliqua consectetur adipisicing tempor aliqua labore ea mollit laboris adipisicing laboris adipisicing voluptate culpa occaecat reprehenderit est occaecat commodo minim ut cillum ad occaecat magna nostrud laboris nulla reprehenderit officia et eu laboris occaecat quis eu aute irure sunt ea laborum ex in incididunt consequat ex ex eiusmod do ut ex ut Duis commodo consectetur sunt aliquip dolor dolor magna cillum ad fugiat in sunt tempor exercitation Ut cillum pariatur exercitation

				p Ut id adipisicing nulla aliqua amet pariatur enim dolor aliquip irure cillum exercitation sed nostrud culpa tempor cillum in sed velit in aute officia magna minim nisi incididunt nulla quis eiusmod in mollit ea non consequat officia mollit voluptate Excepteur Excepteur dolor nulla officia sint eiusmod labore consequat ad adipisicing non est Duis laboris dolor Duis et Excepteur magna tempor Ut veniam aliqua eiusmod cillum labore laborum elit est pariatur pariatur fugiat deserunt non Ut nulla reprehenderit.

				p Lorem ipsum In exercitation in fugiat Ut enim quis nisi ea sit id dolor eu irure eiusmod nulla velit id magna cillum ut tempor mollit exercitation mollit fugiat quis elit aliquip.

			.col-sm-2

section.padding.white-pure-bg
	.wrap
		.row.gutter-large
			.col-sm-2
			.col-8
				h1.t-center Studs 2016
				p.t-center As previous years, the members of studs are from several disciplines in computer science.
			.col-sm-2
		.row.gutter-large(ng-controller="listStudents")
			.col-sm-3(ng-repeat='student in studentList')
				img(ng-src="/img/profile-pictures/{{ student.image }}-cropped.jpg")
			| {{ student.name }}

section.padding
	.wrap
		.row.gutter-large
			.col-6
				img(src="https://placeimg.com/640/480/any")
			.col-6
				h1 Studs for companies
				p Lorem ipsum Dolor sint magna laborum dolor ut sed nostrud sit dolore nisi irure pariatur sint dolore eiusmod magna ex commodo mollit incididunt commodo id sunt elit aliqua nulla ut labore commodo Ut id est Ut ea sunt consequat reprehenderit in in anim eiusmod voluptate tempor cillum nisi labore laborum do ea in pariatur.
				p Lorem ipsum Dolor sint magna laborum dolor ut sed nostrud sit dolore nisi irure pariatur sint dolore eiusmod magna ex commodo mollit incididunt commodo id sunt elit aliqua nulla ut labore commodo Ut id est Ut ea sunt consequat reprehenderit in in anim eiusmod voluptate tempor cillum nisi labore laborum do ea in pariatur.

section.padding.green-bg
	.wrap
		.row.gutter-large
			.col-6
				h1 Studs for students
				| Lorem ipsum Dolor sint magna laborum dolor ut sed nostrud sit dolore nisi irure pariatur sint dolore eiusmod magna ex commodo mollit incididunt commodo id sunt elit aliqua nulla ut labore commodo Ut id est Ut ea sunt consequat reprehenderit in in anim eiusmod voluptate tempor cillum nisi labore laborum do ea in pariatur.
				h2 Companies to visit
				ul
					li We are commited
					li We are hungry for knowledge
					li We are ready
			.col-6
				img(src="https://placeimg.com/640/480/any")

include ../layout/footer.jade
include ../layout/includes.jade