include ../layout/header.jade
include ../layout/menu.jade

section.mega-padding.black-bg
	h1.mega
		| About
	.wrap
		.row.gutter-base
			.col-sm-2
			.col-sm-8
				h3.t-center Studs is an abbrevation for 'Studieresan' which in English would be 'Study trip' or 'Study tour'.
			.col-sm-2

section.padding
	.wrap
		.row.gutter-large(ng-controller="listStudents")
			.col-sm-2
			.col-sm-8.row.gutter-large
				div.col-12
					h1.t-center Studs
					p Studs is a project with the goal to establish relationships between companies and Computer Science students from KTH at the end of their education. To achieve this goal we meet companies that could be our future employers. We are 28 students and the project is run by us alone, this gives us the experience to work in a big year-long project. The project ends with a trip over the Atlantic so we can visit companies and universities in the United States. This also gives us experiences and ideas from another culture.
					p Are you offering a masters thesis, job, extra job or summer job? We are interested, we want to meet you! We have students doing their Masters in Computer Science, Machine Learning, Industrial Management and Human-Computer Interaction.
					p 
						| If you want to contact us you can send an email to our 
						a(href="mailto:studs-sales@d.kth.se") sales manager Brian Ye 
						| or to our 
						a(href="mailto:studs-ansvarig@d.kth.se") project leaders Axel Samuelsson and Katja Röös.
				.col-sm-4.t-center
					a(href="mailto:studs-sales@d.kth.se")
						img(ng-src="/img/profile-pictures/brian-ye-cropped.jpg")
				.col-sm-4.t-center
					a(href="mailto:studs-ansvarig@d.kth.se")
						img(ng-src="/img/profile-pictures/axel-samuelsson-cropped.jpg")
				.col-sm-4.t-center
					a(href="mailto:studs-ansvarig@d.kth.se")
						img(ng-src="/img/profile-pictures/katja-roos-cropped.jpg")


			.col-sm-2

section.padding.white-pure-bg
	.wrap
		.row.gutter-large
			.col-sm-2
			.col-sm-8.t-center
				h1 Studs 2016
				p As previous years, the members of studs are from several disciplines in computer science.
			.col-sm-2
		//-.row.gutter-large(ng-controller="listStudents")
			.col-sm-3(ng-repeat='student in studentList')
				img(ng-src="/img/profile-pictures/{{ student.image }}-cropped.jpg")
			| {{ student.name }}
		.row.gutter-large
			img(sizes="(max-width:400px), (min-width:500px), (min-width:800px), (min-width:1200px)" srcset="/img/allStuds2016-270x343.jpg 270w, /img/allStuds2016-500x636.jpg 500w, /img/allStuds2016-900x1103.jpg 900w, /img/allStuds2016-1387x1700.jpg 1387w" src="/img/allStuds2016-900x1103.jpg")

section.padding
	.wrap
		.row.gutter-large
			.col-md-6
				img(src="/img/studs-for-companies.jpg")
			.col-md-6
				h1 Studs for companies
				| A collaboration with Studs will give You, as a corporate partner, the opportunity to meet 28 motivated and ambitious Computer Science Students at KTH Royal Institute of Technology. Whether You are looking for hungry developers, designers and/or managers Studs supplies a broad spectrum of knowledge within computer science. 
				br
				br
				| Initiating a collaboration will give you exposure on our digital platforms (social medias, website, etc.) as well as in the project's annual report book.  The report book will contain the students' evaluation of the company, before and after interaction, and is a great opportunity for You to show what kind of company You really are. 
				br
				br
				| If You are currently in need of great competence in computer science within a year, then Studs will be able to offer you an outstanding opportunity to speed up the process

section.padding.green-bg
	.wrap
		.row.gutter-large
			.col-md-6
				h1 Studs for students
				| Studs is a project within the Computer Science faculty at KTH, where a group of students get the chance to meet relevant companies and go on a study tour. The project is a course called AI2151 and is worth 15hp. The course officially runs during the spring, but requires attendance the whole year. A good goal for you as a student is to establish a network with the companies involved. Also, you want to get the experience of how it is to carry out a larger project.
				br
				br
				| You have to be at the end of your education and have achieved a minimum of 120hp after the autumn. You must also have the possibility to take a 15hp course during the spring. Basic Swedish communication skills are required since most of the companies are located in Stockholm. An academic level of writing in Swedish is not necessary however since the website and report will be written in English.
				h2 Applying
				| Applications to Studs opens after the project leader(s) have been elected. This is usually done on the last faculty meeting of the study year. If you are interested now and want to be contacted as soon as possible, send an email to 
				a(href="mailto:studs-ansvarig@d.kth.se") project leaders Axel Samuelsson and Katja Röös.

			.col-md-6
				img(ng-src="/img/studs-for-students.jpg")

include ../layout/footer.jade
include ../layout/includes.jade