include ../layout/header.jade

section#auth.padding
	.wrap
		.row.gutter-large
			.col-sm-4
			.col-sm-4
				a.block.t-center(href="/", target="_self")
					img(src="/img/logo.svg")
				div(ng-view)
			.col-sm-4

include ../layout/footer.jade
include ../layout/includes.jade
