include ../layout/header.jade
include ../layout/menu.jade

section.mega-padding.black-bg
	h1.mega
		| Events
	.wrap
		.row.gutter-large
			.col-sm-2
			.col-sm-8
				| Lorem ipsum Qui velit dolor sed voluptate non proident sunt dolore fugiat dolore esse consequat non dolor irure id dolore amet sed veniam ex sunt.
			.col-sm-2

section.padding
	.wrap
		.row.gutter-large
			.col-sm-2
			.col-8
				ng-view
			.col-sm-2

include ../layout/footer.jade
