include ../layout/header.jade
include ../layout/menu.jade

section.mega-padding.black-bg
	h1.mega
		| Events
	.wrap
		.row.gutter-base
			.col-sm-2
			.col-sm-8
			.col-sm-2

section.padding
	.wrap
		.row.gutter-large
			.col-sm-2
			.col-sm-8
				ng-view
			.col-sm-2
section.padding.green-bg
	.row.gutter-large
		.col-sm-4
		.col-4
			h1.t-center What we do at an event
			p It all depends on what the company has planned!

			p At Studs, we believe that each company has its own company culture to bring to the event. Together with Studs' event group, the company can customize their event to fit in with the atmosphere of the company. Do you want to host an evening of interesting talks? Great! Let us do that with you! Do you want to have a case solving night? That sounds awesome!

			//- p Events are hosted by companies that have agreed to meet with the Studs group to get to know, and exchange ideas with the group. Students and company representatives come together to create a memorable evening full of innovation and opportunity. An event typically includes a visit to the company’s office where students get to know more about the company and the technologies they use. The evening is concluded with food and mingling.

			//- p Whatever the company want! We have a group just for events that works with companies in order to create an amazing experience for the company staff and for us students. An example of activities could be to visit the company's office and have an intimate dinner, or have a hackathon, or a penthathlon. Maybe you want to mingle in our faculty locale? It is up to you!
			
			//- h3.t-center Want to be a part of next years Studs?
			//- p If you are a student at KTH and want to participate in the next years Studs, send an interest to 
				a(href="#") interested@studieresan.se
		.col-sm-4
include ../layout/footer.jade
include ../layout/includes.jade
